/* geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border:none;
}
 /*      */

input, label {  
    display:block; /*cada um vai ficar numa linha, nao quero um do lado do outro*/
    width: 100%; /* Largura dele é de 100% */
}

input:focus, label:focus {  
    outline: none; /*tira a borda azzul dos inputs*/
    
}

a {
    color: #E60084
}

body {
    padding-top: 5vh; /* view height -> 5% da tela */
    background-image: url('../img/bg-register-page.jpg');
    background-size: cover; /* preencher toda a tela */
    background-position-y: -150px; /* posicionar um pouco maia pra cima */
}


/* FORM  */
#main-container {
    width: 500px;
    margin-left: auto; /*  centraliza  */
    margin-right: auto; /*  centraliza  */
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}